/*Start of tags style*/
body{
  color: #555555;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
/*End of style tags*/


/*Header*/
.header{
  height: 12%;
  width: 100%;
}

.header h1{
  float: left;
  font: normal 170% 'century gothic', "Times New Roman", sans-serif;
  width: 40%;
  margin: 0;

}
#button-mobile{
  display: none;
}
.header button{
  display: block;
  font-size: 0.5em;
  margin-right: auto;
  border-radius: 5px;
  padding: 1%;
  width: 23%;
  height: 30px;
}
/*End Header*/

.main{
  background-color: darkseagreen;
  margin-top: 3%;
}
/*Main_City*/

.main_city{
  background-color: wheat;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 2%;

}
/*first_block*/
.first{
  border: solid 1px black;
  width: 48%;
  margin-right: 2%;
}
.first h1{
  font: bold 170% 'century gothic', "Times New Roman", sans-serif;
  margin: 1%;
}
.first img{
  float: left;
  margin: 2% 30% 0 5%;
  width: 23%;
  border-radius: 35%;
}
.first span{
  display: block;
  font-size: 4em;
}

/*second_block*/
.second{
  border: solid 1px black;
  width: 48%;
  margin-right: 0;
  margin-left: 2%;
}

ul.weather{
  border: black;
  margin: 0;
  padding: 0;
}
ul.weather li{
  list-style: none;
  margin: 3px 0 3px 0;
  padding: 1px 2px 1px 5px;
  background-color: gray;
  color: white;
}
ul.weather span{
  float: right;
}
/*end first_block*/


/*End main city*/

/*Favorites*/

/*End Favorites*/





/* --------------------------------------CSS Mobile--------------------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

  /*Start of tags style*/
  body{
    margin-left: 5%;
    margin-right: 5%;
  }
  /*End of style tags*/


  /*Header*/
  .header{
    min-width: 100%;
    height: 40px;
  }

  .header h1{
    float: left;
    font: normal 150% 'century gothic', "Times New Roman", sans-serif;
    width: 50%;
    margin: 0;
    padding-top: 2%;
  }

  #button-mobile{
    display: block;
  }
  #button-desktop{
    display: none;
  }
  .header button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
  .header img{
    width: 100%;
    margin: 0;
  }
  /*End Header*/


  /*Main_City*/
  .main_city{
    display: block;
  }
  .first{
    width: 100%;
    margin: 0;
  }
  .second{
    width: 100%;
    margin: 0;
  }

  /*End main city*/


  /*Favorites*/
  /*End Favorites*/


}
